sudo: false
language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
before_script:
- pip install -e .
- pip install pep8
- pip install nose2
- pip install coverage
- pip install commonconf
- pip install python-coveralls
script:
- pep8 --exclude=panopto_client/tests panopto_client
- coverage run panopto_client/test.py -v
after_script:
- coveralls
before_deploy:
- find panopto_client/ -name \*.pyc -exec rm {} \;
- echo $TRAVIS_TAG > panopto_client/VERSION
deploy:
  provider: pypi
  user: uw-it-aca
  skip_cleanup: true
  password:
    secure: jd9BhZbaQ0oYKEE76DZIEECvTDogtbKP1E34P+InBS8bvg6uofMoZ1mkfRPtmSTKSiaOifxz4R5O/+cd3MyoFR219/V98bYGEfOjw/sw/Jnl1dd6nYt9OYTbTacTM1f4ooqBLlxRMEzyv26Oavqhim+LrjnhXEDD25961G9eWTipJDPSlvnx0J/+wh8kfEHM31WgBewcAYKRJNnG+9z7fIdmba7bAyg7KIEnPTUQ3pTtyUijfc2/iSRe/ptN0H4m399g6NdYIdDUOn8hlgvkezlZPbET3O8yz2ejoZ+ZPLYKDIlKe2yeLRLxfxZlggj4mc1K0bS3jXO6KYI3HMIX0dkHWGHpui8W2j/dYDYo0Hg2BmAoPrhtL5sQJCeAIOu+xERK62tSbGifgIy//NF3a9x0yUipGnDrjbppvHbKsexKUaKBrBy4gWtbELPDgh9oEj6BUn14D9cbVixB/rqNZueLQHsgNvG/tSyNEhDQm7fFAtkPjzCsr3PLfaP0ntmrKWGXVVp5azc+U5KlzRzOAHRJ0bCZ3LwosPWwGeueEzmXEA1HXXpWc8pq0IowyIzmUafk1ml8Dl12k9GmsEQLjXqcguzdGQ1GLoqcTaUJ8JKzldDtPtIFhP/V+MEbNU9XyXZFKZ+8W9bThhvsZdNsfRNFyEB6mbtG+k+llEvaicM=
  on:
    tags: true
    python: '3.5'
